body {
    background: linear-gradient(to bottom right, grey, white);

}
#cadre{
    position:static;
    width:820px;
    height:1320px;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:50px;
    padding-left:10px;
    background-color:white;
}
#picture img{
    border:solid 0.5px;
    width:180px;
    height:190px;
    margin-right:20px;
}
#tab {
    width: auto;
    height: 250px;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
#coordonnées ul li{
    margin-bottom:10px;
    list-style:none;
    font:20px arial ;
}
#email{
    text-decoration:underline;
    color:blue;
}
#titre{
    font:40px oblique large;
    text-align:center;
    margin-top:30px;
    margin-bottom:60px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 30px darkblue;
}
.sous_titre{
    margin-left:23px;
    font-size : 1.3em;
    font-weight: bold;

}
.titre_N3{
    font:bold 16px arial;
}
li{
    margin-bottom:10px;
    list-style:none;
}

#teste{
    border-bottom:solid 3px blue;
    width:400px;
    transition: width 3s;
}
#teste:hover{
    width:700px;
}